body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4; /* Consider a slight gradient or a more engaging color */
    color: #333; /* Softer than black for text */
}

.main-container {
    width: 100%;
    max-width: 400px;
    text-align: center;
    margin: auto;
    padding: 20px;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    border-radius: 8px;
    margin-top: 50px;
    margin-bottom: 50px;
}


.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 8px;
    color: #333;
    font-weight: bold; 
}

.form-group input[type="text"],
.form-group input[type="email"],
.form-group input[type="password"] {
    width: calc(100% - 20px); /* Adjust for padding */
    padding: 10px;
    border: 2px solid #333; /* More vibrant border color */
    border-radius: 4px; /* Rounded borders for inputs */
    box-sizing: border-box; /* Adjust box-sizing for border inclusion */
}

button[type="sign-up"] {
    background-color: #333; 
    color: white;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
    width: 50%;
    margin: 0 auto;
    border-radius: 4px; 
    font-size: 16px; 
    font-weight: bold; 
    box-shadow: 0 2px 4px rgba(0,0,0,0.2); 
}

button[type="sign-up"]:hover {
    background-color: #000; /* Darker on hover for interaction feedback */
}

a {
    color: #0000ee; /* Link color to match the button */
    text-decoration: none; /* Cleaner look without underline */
}

a:hover {
    text-decoration: underline; /* Underline on hover for interaction */
}
